<!DOCTYPE html>
<html>
    <head>
        <title>Levi's Website</title>
    </head>
<body>
    <header>
        <h1>WELCOME TO MY WEBSITE</h1>
    </header>
    <h2>_____________________________________</h2>
    <p>How did <em>you</em> get here?</p>
    <p>Since you're here, click this: <a href="https://www.youtube.com/watch?v=N9TeBSWl8L4&t=295s">link</a> </p>
    
{% for post in posts %}
    <article>
            <time>published: 7.1.2023, 6:52</time>
            <h2><a href="">Recent Updates:</a></h2>
            <p>------------------------------------------------------------------------</p>
            <p><strong>WEBSITE UNDER CONSTRUCTION</strong>
                - Levi (admin)</p>
            <p>------------------------------------------------------------------------</p>
        
    </article>
{% endfor %}

    <article>
        <time>published: 07.01.2023, 7:04</time>
        <h2><a href="">Music Recommendations:</a></h2>
        <ul><li>Led Zeppelin</li><li>Belmont</li><li>Young Thug</li></ul>
    </article>
    
    <header>
        <h2><a href="/">HOME</a></h2>
    </header>
</body>
</html>